SELECT

In [ ]:
# 모든 레코드 조회하기
SELECT *
FROM ANIMAL_INS
ORDER BY ANIMAL_ID

In [ ]:
# 이름과 보호 시작일을 조회 / ID 역순으로
SELECT ANIMAL_ID, DATETIME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID DESC

In [ ]:
# ID, 이름 / 조건 찾는건 WHERE
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION = "Sick"
ORDER BY ANIMAL_ID

In [ ]:
# 조건이 아닌거 WHERE ID != ''
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION != 'Aged'
ORDER BY ANIMAL_ID

In [ ]:
# 동물ID순으로 정렬
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID

In [ ]:
# 여러 기준으로 정리 (순 ASC, 역 DESC
SELECT ANIMAL_ID, NAME, DATETIME
FROM ANIMAL_INS
ORDER BY NAME ASC, DATETIME DESC

In [ ]:
# 1개만 가져오기
SELECT NAME
FROM ANIMAL_INS
ORDER BY DATETIME
LIMIT 1

SUM, MAX, MIN

In [ ]:
# 최댓값구하기 / 가장 최근에 들어온 동물
SELECT MAX(DATETIME) AS 시간
FROM ANIMAL_INS

In [ ]:
# 최솟값 구하기 / 가장 먼저 들어온 동물
SELECT MIN(DATETIME) AS 시간
FROM ANIMAL_INS

In [ ]:
# 동물 수 세기 
SELECT COUNT(*) AS count
FROM ANIMAL_INS

# count(name) 의 경우 name 이라는 컬럼의 갯수 (NULL 값 안 셈) / COUNT(*) 전체 행수

In [ ]:
# 중복되지 않는 수 DISTINCT / NAME NULL 아닌 값
SELECT COUNT(DISTINCT NAME) AS count
FROM ANIMAL_INS
WHERE NAME IS NOT NULL

GROUP BY

In [ ]:
▷ emp테이블에서 업무가 MANAGER가 아닌 사원들에 대해
부서별로 급여의 합이 2500이상인 부서의 정보를 출력
부서번호, 급여 합계순으로 출력, 급여 합계가 높은 순으로 정렬

▶ [ SQL> select deptno, sum(sal) "부서별 급여합계" from emp
where job !='MANAGER'
group by deptno
having sum(sal) >= 2500
order by 2 desc



▷ emp테이블에서 사원의 수가 4명 이상인 부서의 급여합계를 구하고,
급여합계가 높은 순으로 정렬

▶ [ SQL> select deptno, sum(sal) as 급여합계 from emp
group by deptno
having count( * ) >= 4
order by sum(sal) desc

In [ ]:
# 고양이와 개 몇 마리, 순서는 고양이 먼저
SELECT ANIMAL_TYPE, COUNT(*) AS COUNT
FROM ANIMAL_INS
GROUP BY ANIMAL_TYPE
ORDER BY ANIMAL_TYPE

In [ ]:
# 같은 이름 개수 세기 (2명 이상) / 
SELECT NAME, COUNT(*) AS COUNT
FROM ANIMAL_INS
WHERE NAME IS NOT NULL
GROUP BY NAME
HAVING COUNT >= 2
ORDER BY NAME

# OR

SELECT NAME, COUNT(NAME) AS COUNT
FROM ANIMAL_INS
GROUP BY NAME
HAVING COUNT >= 2
ORDER BY NAME

# HAVING 절은 GROUP BY 절과 함께 사용해야 하며 집계 함수를 사용하여 조건절
# SELECT / FROM / WHERE 조건 / GROUP BY / HAVING / ORDERBY

In [ ]:
# 시간 조건 WHERE로 
SELECT HOUR(DATETIME) AS HOUR, COUNT(*) AS COUNT
FROM ANIMAL_OUTS
WHERE HOUR(DATETIME) >= 9 AND HOUR(DATETIME) <20
GROUP BY HOUR
ORDER BY HOUR

SELECT HOUR(DATETIME) HOUR, COUNT(DATETIME) COUNT
FROM ANIMAL_OUTS
GROUP BY HOUR(DATETIME)
HAVING HOUR >= 9 and HOUR <= 19
ORDER BY HOUR

In [ ]:
# 레벨4 입양 시간별로 입양 몇 건이 발생
# 0~6시까지의 데이터를 따로 생성
SET @HOUR = -1;
SELECT (@HOUR := @HOUR +1) AS HOUR
FROM ANIMAL_OUTS
WHERE @HOUR < 23;
 
 => @HOUR변수에 -1을 할당한 후 22까지 +1씩 더해준다

SET @HOUR = -1;
SELECT (@HOUR := @HOUR +1) AS HOUR,
    (SELECT COUNT(HOUR(DATETIME)) 
    FROM ANIMAL_OUTS 
    WHERE HOUR(DATETIME)=@HOUR) AS COUNT 
    FROM ANIMAL_OUTS
WHERE @HOUR < 23;

# @가 붙은 변수는 프로시저가 종료되어도 유지
# SQL 문법에서 :=은 비교 연산자 =과 혼동을 피하기 위한의 대입 연산
# SELECT (@hour := @hour +1) 은 @hour의 값에 1씩 증가시키면서 SELECT 문 전체를 실행
# WHERE @hour < 23일 때까지, @hour 값이 계속 + 1씩 증가

IS NULL

In [ ]:
# 이름 없는 동물의 아이디
SELECT ANIMAL_ID
FROM ANIMAL_INS
WHERE NAME IS NULL
ORDER BY ANIMAL_ID

In [ ]:
# 이름이 있는 동물 아이디
SELECT ANIMAL_ID
FROM ANIMAL_INS
WHERE NAME IS NOT NULL
ORDER BY ANIMAL_ID

In [ ]:
# 이름이 없을 경우
SELECT ANIMAL_TYPE, IFNULL(NAME,'No name'), SEX_UPON_INTAKE
FROM ANIMAL_INS

JOIN

In [ ]:
# 없어진 기록 찾기
SELECT OUTS.ANIMAL_ID, OUTS.NAME
FROM ANIMAL_OUTS AS OUTS
LEFT JOIN ANIMAL_INS AS INS
ON OUTS.ANIMAL_ID = INS.ANIMAL_ID
WHERE INS.ANIMALL_ID IS NULL
ORDER BY OUTS.ANIMAL_ID

In [ ]:
# 있었는데요 없었습니다

SELECT O.ANIMAL_ID, O.NAME 
FROM ANIMAL_OUTS O 
LEFT JOIN ANIMAL_INS I
ON O.ANIMAL_ID = I.ANIMAL_ID
WHERE O.DATETIME < I.DATETIME
ORDER BY I.DATETIME ASC;

In [ ]:
#오랜 기간 보호한 동물
SELECT I.NAME, I.DATETIME
FROM ANIMAL_INS AS I
LEFT JOIN ANIMAL_OUTS AS O
ON I.ANIMAL_ID = O.ANIMAL_ID
WHERE O.ANIMAL_ID IS NULL
ORDER BY I.DATETIME
LIMIT 3

In [ ]:
#보호소에서 중성화한 동물
SELECT I.ANIMAL_ID, I.ANIMAL_TYPE, I.NAME
FROM ANIMAL_INS AS I
LEFT JOIN ANIMAL_OUTS AS O
ON I.ANIMAL_ID = O.ANIMAL_ID
WHERE I.SEX_UPON_INTAKE LIKE "%Intact%" 
AND O.SEX_UPON_OUTCOME NOT LIKE "%Intact%"